$colorPrimary: #4091f0;
$colorWhite:#ffffff;
$colorGrey: #858585;
$headingColor: #181818;
$inputTextCountColor: #ACACAC;
$inputTextColor: #333333;
$inputBoxBorder: #3498db;
$btnPrimaryColor: #8aa838;
$btnPrimaryHover: #c1ee45;
$font-title:#2f2f2f;
$font-weight-bold:700;
$font-weight-regular:400;
$font12: .8rem;
$font15: .8rem;
$px0 :0rem;
$px1 : 1rem;
$radius5px: .3rem;
$width100: 100%;
$width50:50%;
